<div class="jiesuan my_neirong">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="">当前所在的位置：</a></li>
            <li><a href="">首页</a></li>
            <li class="active">购物车</li>
        </ol>
    </div>
    <!--收获地址-->
    <form action="/clean" method="post" id="zhifu">
    <div class="container center">

        <div class="pm_jiesuan1">
            <div class="queding"><span>确认收获地址</span></div>
            <div class="guanli"><a href="javascript:;">管理收获地址</a></div>
        </div>
        <%for(var i=0;i<address.length;i++){%>
        <div class="radio radio1 ">

            <label>
                <%if(address[i].default==1){%>
                <input type="radio" id="optionsRadios1"  name="address" value="<%=i%>" checked>
                <%} else{%>
                <input type="radio" id="optionsRadios1"  name="address" value="<%=i%>" >
                <%}%>
                <span><%=address[i].address%></span> <span><%=address[i].name%></span> <span><%=address[i].phone%></span>

            </label>
            <%if(address[i].default==1){%>
            <span class="radio1_span"><a href="javascript:;" class="btn btn1">默认地址</a></span>
            <%} else{%>
            <span class="radio1_span"><a href="" ></a></span>
            <%}%>
        </div>
        <%}%>


    </div>
    <!--购买信息-->
    <div class="container footer">
        <div class="pm_jiesuan_footer">
            <div class="pm_jiesuan_footer1">
                <span>购买信息</span>
            </div>

            <ul class="pm_jiesuan_footer2">
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
            </ul>
        </div>
        <%for(var i=0;i<list.length;i++){%>
        <div class="pm_gouwuche_center">
            <input type="hidden" value="<%=list[i]._id%>" name="id">
            <input type="hidden" value="<%=list[i].num%>" name="num">
            <div class="pm_jiesuan_footer1">
                <img src='/images/index.png' alt="">
                <div class="pm_jiesuan_footer-center1">
                    <span><%=list[i].name%></span><br>
                    <span><%=list[i].author%></span>
                </div>

            </div>

            <ul class="pm_jiesuan_footer-center2">
                <li><%=list[i].price%></li>
                <li><%=list[i].num%></li>
                <li><%=((list[i].price)*100*(list[i].num))/100%></li>
            </ul>

        </div>
        <%}%>
        <div>
            <div class="pm_jiesuan_footer-footer">
                <span class="pm_jiesuan_footer-footer1">共<%=total_num%>本，共计：</span>
                <span class="pm_jiesuan_footer-footer2">￥<%=total_price%></span>
            </div>

        </div>


    </div>
    </form>
    <div class="container foot">
        <div class="tijiao">
            <button type="button" class="btn btn-danger" onclick="tijiao()">提交订单</button>
        </div>
    </div>
</div>

<script>
    <% if(locals.error != "") { %>
    layer.msg('<span style="color: red"><%= locals.error %></span>', {icon: 5});
    <% } %>
    function tijiao() {
        $('#zhifu').submit()
    }
</script>